{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Menu</h1>
<!--Begin col-->
<div class="column">
   <!-- Step 14: Create a for loop that will iterate over the menu object using a temporary iterator such as item -->
   {% for item in menu.menu %}
   <p>
      <!-- Step 14: Add DTL variable for name -->
      {{ item.name }}
      <span class="menu-price">
         <!-- Step 14: Add DTL variable for price --> 
            ${{ item.price }}.00
      </span>
   </p>
   <!-- Step 14: End or loop -->
</div>
<!--End col-->
{% endblock %}